@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ffffff; /* Light mode default */
  color: #1a1a1a; /* Dark text for light mode */
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1a1a1a; /* Dark mode background */
    color: #ffffff; /* Light text for dark mode */
  }
}
